.App.List {
    display: flex;
    flex-direction: column-reverse;
    
}
.Button {
 
    background-color: black;
    color: aliceblue;
    width: 20%;

    
    
    
}
.li {

    list-style-type: none;

}
.Counter {
    display: flex;
   justify-content: center;
    background-color:black;
    color: aliceblue;
    margin-left:2.5in ;
    padding: 30px;
    height: 10px;
    width: 10%;
    justify-content: center;
    
    
    
}
.Menubar {

    display: flex;
    color: brown;
    background-color: lightsalmon;
    font-family: fantasy;
    margin-left: 1in;
    padding: 30px;
    height: 20px;
    width: 42%;
    justify-content: center;
    
}
.inputs{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    background-color:lightpink;
    margin-left: 1in;
    padding: 30px;
    height: 0.5px;
    width: 42%;
    justify-content: left;
    flex-direction: row;
}