li:nth-child(even) {
    display: flex;
    background-color: whitesmoke;
    margin-left:0.7in;
    margin-top: 5mm;
    padding: 30px;
    height: 10px;
    width: 42%;
    justify-content: right;
    flex-direction: row-reverse;
    
}
li:nth-child(odd) {
    display: flex;
    background-color:rgb(217, 243, 246);
    margin-top: 5mm;
    margin-left: 0.7in;
    padding: 30px;
    height: 10px;
    width: 42%;
    justify-content: left;
    flex-direction: row start;

}
