.App.List {
    display: flex;
    flex-direction: column-reverse;
    
}
.Button {
 
    background-color: brown;
    color: aliceblue;
    height:3em ;
    width: 15%;
    margin-left: 45%;

    
    
    
}
.li {

    list-style-type: none;

}

.Menubar {

    display: flex;
    color: brown;
    background-color: lightsalmon;
    font-family: fantasy;
    margin-left: 1in;
    padding: 30px;
    height: 20px;
    width: 42%;
    justify-content: center;
    
}
.inputs{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    background-color:coral;
    margin-left: 1in;
    padding: 30px;
    height: 0.5px;
    width: 42%;
    justify-content: left;
    flex-direction: row;
}