
body {
  background-image: url("./Components/cake.jpg");
  background-repeat: no-repeat;
  background-position: 8in;
  background-size: cover;
  margin: 0mm;
  background-color: peachpuff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

